
<form class="grid" action="/user_input" method="POST">

            <label for="Gender">Gender:</label><br>
            <input type="text" id="Gender" name="Gender"><br>
            <label for="WeightKg">Weight in KG:</label><br>
            <input type="number" id="WeightKg" name="WeightKg"><br>
            <label for="HeightCm">Height in CM:</label><br>
            <input type="number" id="HeightCm" name="HeightCm">

            <center><input class="file_submit" type="Submit"></center>
            
</form>
